body:after {
	font: 2em 'Arial';
	background: rgba(255,0,0,0.3);
	color: white;
	position: fixed;
	bottom: 30px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	content: "0px to 320px";
	left: 0px;
	text-shadow: 2px 2px 0px #000000;
}

@media only screen and (min-width: 320px) {
	body:after {
	background: rgba(0,255,0,0.3);
		content: "320px to 480px";
	}
}

@media only screen and (min-width: 480px) {
	body:after {
		background: rgba(0,0,255,0.3);
		content: "480px to 768px";
	}
}

@media only screen and (min-width: 768px) {
	body:after {
		background: rgba(255,255,0,0.3);
		content: "768px to 1024px";
	}
}

@media only screen and (min-width: 1024px) {
	body:after {
		background: rgba(255,0,255,0.3);
		content: "1024 and beoynd";
	}
}